body
{
	margin: 0px;
	background-color: transparent;
}

@-webkit-keyframes x-spin 
{
	/* Rotate the cylinder by 0 degrees around the x-axis at the start of the animation */
	0%    { -webkit-transform: rotateX(0deg); }
	/* Rotate the cylinder by 180 degrees around the x-axis at 50% into the animation */
	50%   { -webkit-transform: rotateX(180deg); }
	/* Rotate the cylinder by 180 degrees around the x-axis when the animation is ending */
	100%  { -webkit-transform: rotateX(360deg); }
}


/* Performs rotations around the y-axis in the counterclockwise direction */
@-webkit-keyframes y-spin
{
	/* Rotate this ring of the cylinder by 0 degrees around the y-axis at the start of the animation */
	0%    { -webkit-transform: rotateY(0deg); }
	/* Rotate this ring by 180 degrees around the y-axis at 50% into the animation */
	50%   { -webkit-transform: rotateY(180deg); }
	/* Rotate this ring by 360 degrees around the y-axis when the animation is ending */
	100%  { -webkit-transform: rotateY(360deg); }
}


/* Performs rotations around the y-axis in the clockwise direction */
@-webkit-keyframes back-y-spin 
{
	/* Rotate this ring by 360 degrees around the y-axis at the start of the animation */
	0%    { -webkit-transform: rotateY(360deg); }
	/* Rotate this ring by 180 degrees around the y-axis at 50% into the animation */
	50%   { -webkit-transform: rotateY(180deg); }
	/* Rotate this ring of the cylinder by 0 degrees around the y-axis when the animation is ending */
	100%  { -webkit-transform: rotateY(0deg); }
}


/* Placeholder for the cylinder. Renders the cylinder in 3D space. */
#stage
{
	position: absolute;
	left: -40px;
	top: 95px;
	width: 600px;
	height: 400px;
	/* Ensure that the contents of the stage remain in 3D space, without being flattened */
	-webkit-transform-style: preserve-3d;
	/* Give some depth to the cylinder */
	-webkit-perspective: 2000;
}


/* Placeholder for the three rings of the cylinder. Makes all three rings appear like a cylinder.
   Rotates all three rings around the x-axis. */
#rotate 
{
	position: absolute;
	width: 600px;
	height: 400px;
	/* Ensure that we're in 3D space */
	-webkit-transform-style: preserve-3d;
    /* let's rotate all three rings along the x-axis over a period of 7 seconds */
	-webkit-animation-name: x-spin;
	-webkit-animation-duration: 7s;
    /* Let the rings rotate forever and linearly */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


/* Styles each ring of the cylinder. Controls the position of each ring's posters in 3D space. */
.ring
{
	position: relative;
	height: 110px;
	width: 600px;
	margin: 20px 0px;
	/* Ensure that posters in each ring maintain their position in 3D */
	-webkit-transform-style: preserve-3d;
}


/* Styles all posters in the cylinder. Provides each poster with a round layout. */
.poster 
{
	position: absolute;
	left: 250px;
	width: 100px;
	height: 100px;
	/* Make each poster transparent */
	opacity: 0.7;
	color: rgba(0,0,0,0.9);
    background-image: url(lindsay.png);
    background-size: contain;
    /* Give a round layout to each poster */
	-webkit-border-radius: 10px;
}


/* Styles the number in each poster */
.poster > p 
{
	font-family: 'Georgia';
	font-size: 36px;
	text-align: center;
	margin-top: 28px;
	font-weight: bold;
}


/* Set up each row to have a different animation duration and alternating y-axis rotation direction */
/* This ring will continually rotate around the y-axis and in the counterclockwise direction over a period of 5 seconds */
#ring-1 
{
	-webkit-animation-name: y-spin;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


/* This ring will continually rotate around the y-axis and in the clockwise direction over a period of 4 seconds */
#ring-2 
{
	-webkit-animation-name: back-y-spin;
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


/* This ring will continually rotate around the y-axis and in the counterclockwise direction over a period of 3 seconds */
#ring-3 
{
	-webkit-animation-name: y-spin;
	-webkit-animation-duration: 9s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}